/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 04-Feb-2024, 3:41:45 pm
    Author     : rahul
*/
/**{
    margin: 0;
    padding: 0;
    
}

header{
    background-image: linear-gradient(darkblue,lightskyblue);
}
.mainPage{
    background-image: linear-gradient(darkblue,lightskyblue);
}
li{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    
}
a:hover{
    color:orange;
    
}
header{
    position: relative;
    padding: 0 2rem;
    
}
.upper{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
        
}
.upper .logo a{
    margin-left: 50px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    
}
.upper .links{
    margin-right: 400px;
    display: flex;
    gap: 2rem;
}
.unOrderedList{
       display: flex;
    gap: 1rem;
}

.upper .links:hover{
    scale:1.05rem;
    
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('background_image.png');
    background-size: cover;
    background-position: center;

}
.wraper{
    width: 420px;
    /*background: purple;*/
    color: #fff;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 12px;
    padding: 30px 40px;
    
}
.wraper h1{
    font-size: 26px;
    text-align: center;
    
}
.wraper .input_box{
    position: relative;
    width: 100%;
    height:50px;

    margin: 30px 0;
}
.input_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 2px 4px 10px 0px;
}
.input_box input::placeholder{
    color: #fff;
    margin-left: 10px;
}
.wraper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    
    
}
.wraper .register_link{
    font-size: 14.5px;
    text-align: center;
    margin:20px 0px 15px ;
}
.register_link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register_link p a:hover{
    text-decoration: underline;
}